.formControl.error textarea,
.formControl.error input{
    border: 2px solid #b03b34;
}

.formControl.error span{
    background-color: #b03b34;
    color: white;
}

.formSummaryError {
    border: #b03b34 solid 1px;
    padding: 5px;
    color: #b03b34;
}