.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.dialogsItems .active {
    color: gold;
}

.dialogsItems img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    padding: 7px;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}